<form nz-form [formGroup] = "formulario" (ngSubmit)="enviar(formulario.value)" >

  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Pasajero</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "pasajero" placeholder="Pasajero" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Destino</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName = "Destino" placeholder="Destino" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Desde</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "Desde" placeholder="Desde" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Hora</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "Hora" placeholder="Hora" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Fecha</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "Fecha" placeholder="Fecha" />
        </nz-form-control>
      </nz-form-item>
    </div>
    </div>


  <div class="footer">
            <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
            <button type="Submit" (click)="close()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
  </div>
  </form>


