<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
          <ul>
            <li nz-menu-item nzSelected>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>

      <nz-content>

         <button nz-button nzType="primary" style="margin: 8px;"  (click)="open()">Create</button>

        <nz-table #nestedTable [nzData]="AllVuelo" [nzPageSize]="5"  >
      <thead>
        <tr>
            <th>#</th>
            <th>Pasajero</th>
            <th>Desde</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Hora</th>

          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vuelo of nestedTable.data">

          <td>{{vuelo.pasajero}}</td>
          <td>{{vuelo.Desde}}</td>
          <td>{{vuelo.Destino}}</td>
          <td>{{vuelo.Fecha}}</td>
          <td>{{vuelo.Hora}}</td>


          <td>
            <a><button nz-button [nzType]="'primary'" style="margin-right: 8px;" (click)="showModal(vuelo)"><span>Edit</span></button></a>
            <a><button nz-button nzType="dashed" (click)="showDeleteConfirm(vuelo)">Delete</button></a>
          </td>

        </tr>
      </tbody>
    </nz-table>

        <nz-drawer
          [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
          [nzMaskClosable]="false"
          [nzWidth]="720"
          [nzVisible]="visible"
          nzTitle="Crear Factura"
          (nzOnClose)="close()">

        <app-add-vuelo></app-add-vuelo>
       </nz-drawer>
       {{respuesta2 | json}}
        <nz-modal  [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Id</nz-form-label>
                      <nz-form-control>
                          <input nz-input type="text" [(ngModel)] = "vuelo.idVuelo" placeholder="Numero de vuelo" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Nombre</nz-form-label>
                      <nz-form-control>
                          <input nz-input [(ngModel)] = "vuelo.pasajero" placeholder="Pasajero" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Destino</nz-form-label>
                      <nz-form-control>
                          <input nz-input [(ngModel)] = "vuelo.Destino" placeholder="Destino" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Desde</nz-form-label>
                      <nz-form-control>
                          <input nz-input [(ngModel)] = "vuelo.Desde" placeholder="Desde" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Fecha</nz-form-label>
                      <nz-form-control>
                          <input nz-input [(ngModel)] = "vuelo.Fecha" placeholder="Fecha" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Hora</nz-form-label>
                      <nz-form-control>
                          <input nz-input [(ngModel)] = "vuelo.Hora" placeholder="Hora" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>


        </nz-modal>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
